---
import "@/styles/globals.css";
import ThemeScript from "@/features/theme/ThemeScript.astro";

interface Props {
  title: string;
  description?: string;
  ogTitle?: string;
  ogDescription?: string;
  ogImage?: string;
}

const { title, description, ogTitle, ogDescription, ogImage } = Astro.props;
---
<!doctype html>
<html lang="en">
    <head>
        <meta name="application-name" content="Novel Web Viewer" />
        <title>{title}</title>
        <meta content="text/html;charset=utf-8" http-equiv="Content-Type" />
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="sitemap" href="/sitemap-index.xml" />
        <meta name="robots" content="index, follow" />
        <meta name="theme-color" content="#ffffff" />
        {description && <meta name="description" content={description} />}
        {ogTitle && <meta property="og:title" content={ogTitle} />}
        {ogDescription && <meta property="og:description" content={ogDescription} />}
        {ogImage && <meta property="og:image" content={ogImage} />}
        <slot name="head-last" />
    </head>
    <body>
        <slot />
        <ThemeScript />
    </body>
</html>
